#contact-cover{
    height: 300px;
}
#contact-cover::before {
    background: url(../IMG/contact_cover.jpg)no-repeat center/cover;
    content: "";
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
}
#contact-cover h1{
    padding-top: 9rem;
    font-size: 4.2rem;
    color: var(--main-bg-color);
    text-shadow: 0px 0px 10px black;
}
.contact-text{
    padding: 2rem;
}
.contact-form{
    padding: 2rem 0px;
}
.form-input {
    padding: 5px 5px;
    margin: 5px 0px;
    border-radius: 2px;
    outline: none;
    border: 1px solid;
}
.contact-btn{
    padding: 8px 0px;
}
